<div class="select-container">
  <select class="underline-select" onchange={{action (mut @selectedValue) value='target.value'}}>
    {{#each @options as |opt|}}
    <option value={{opt.value}} selected={{eq @selectedValue opt.value}}>{{opt.name}}</option>
    {{/each}}
  </select>
</div>
