<div class="container d-flex justify-content-end align-items-center h-100">
  <button 
    class="button-solid" 
    disabled={{not @contest.hasDirtyAttributes}}
    {{action 'saveContest'}}
  >
    Save Contest
  </button>
</div>