<div class="d-flex justify-content-between">
  <h2>Contests</h2>
  <button class="button button-solid">
    + Create Contest
  </button>
</div>

<div class="mt-4">
  <Contest::ContestTable 
    @contests={{contests}}
  />
</div>
